<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.youken_springsConnectionString"
            connectionString="server=localhost;user id=root;database=youken_springs"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>